{% extends 'base.html.twig' %}

{% block body %}
    <section id="forget-password">
        <div class="container h-100 d-flex align-items-center justify-content-center">
            <div class="box-forget-password shadow-lg bg-white rounded">
                {% for label, messages in app.flashes(['success', 'danger']) %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
                <h2>Renouvellement de mot de passe</h2>
                {{ form_start(form) }}
                    {{ form_row(form.mail) }}
                    <button type="submit" class="btn btn-login">Envoyer</button>
                {{ form_end(form) }}
            </div>

        </div>
    </section>

{% endblock %}
