{% extends 'base.html.twig' %}

{% block body %}
    <section id="reset-password">
        <div class="container h-100 d-flex align-items-center justify-content-center">
            <div class="box-reset-password shadow-lg bg-white rounded">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                <h2>Resaissir un nouveau mot de passe</h2>
                {{ form_start(form) }}
                    {{ form_row(form.password) }}
                    {{ form_row(form.confirmPassword) }}
                    <button type="submit" class="btn btn-login">Envoyer</button>
                {{ form_end(form) }}
            </div>

        </div>
    </section>

{% endblock %}
